.active{
    background-color: blue;
    color: white;
}

.alert-primary{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: aquamarine;
    height: 100px;
    padding-left: 2%;
}